.to-guild-view-button {
    all: unset;
}
.to-guild-view-button:hover {
    cursor: pointer;
}
.guild-card-data-container {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    border: 2px solid #4b555e;
    border-radius: 30px;
}