.new-server-view-bg-img {
    position: absolute;
    -webkit-mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%), radial-gradient(15.77% 44.22% at 50% 104.95%, rgba(66, 66, 66, 0) 0%, #333333 100%), radial-gradient(30.95% 86.8% at 30.69% 13.2%, rgba(66, 66, 66, 0.33) 0%, #333333 100%), radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%), radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%), linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-composite: source-in;
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    height: 42rem;
    background: black;
    display: none;
}
.new-server-view-main-info-bg {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    display: none;
}
.new-server-view--container{
    background: black;
    height: 14rem;
    position: relative;
    background: #0000004f;
    backdrop-filter: blur(20px);
    width: 85%;
}
.new-server-view-main-info-icon {
    height: 100%;
    background: #202020;
}
.new-server-view-main-info-container {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}
.new-server-view-tags {
    margin: 4px;
    margin-top: 4px;
    margin-bottom: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: #d7dadd;
    background: #c6d4df26;
    border-radius: 3px;
    cursor: pointer;
}
.new-server-view-tags:hover{
    background: #c6d4df50;
    color: #eff1f4;
}
.new-server-view-space{
    display: none;
}


.new-server-view-narrow-header-container{
    display: block;
}
.new-server-view-narrow-bg-img {
    height: 15rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .new-server-view-bg-img {
        display: flex;
    }
    .new-server-view-main-info-bg {
        display: flex;
    }
    .new-server-view-space {
        display: flex;
    }
    .new-server-view-narrow-header-container {
        display: none;
    }
}
@media (min-width: 1200px) {
}



